body{
	background-image:url('images/fond.png');
	background-size: contain; 
	overflow-x: hidden;
}

body > header > nav > ul{
	display: block;
	width: 100%;
	margin: 0;
  	padding: 0;
	list-style-type: none;
  	overflow: hidden;
  	z-index: 10;
  	top:0;
  	position:fixed;
  	left:0;
  	background-color: #18950c ;
  	
}

body > header > nav > a > img{
	display: block;
	position: fixed;
	z-index: 11;
	right:0;
	top:0;
}

body > header > nav > ul > li {
	float:left;
}

body > header > nav > ul > li > a{
	color : white;
	display:block;
  	text-align: center;
  	padding: 14px 24px;
  	text-decoration: none;
  	width:100px;
   height:30px;
	transition : 2s width, 2s height;
 }
 
body > header > nav > ul > li > a:hover{
	width:130px;
	height: 50px;	
	background-color : #966b30;
	}
 
body > header > h1 {
	margin-top:75px;
	font-family: Snell Roundhand, cursive;
}


 